﻿@{
    ViewData["Title"] = "Donate";
}

<div style="text-align:center;">We are a small organisation with very low running costs; more than 98% of the money that we receive is spent on our projects.</div>

<table class="news">
    <tr>
        <td>
            <a href="http://uk.virginmoneygiving.com/charity-web/charity/finalCharityHomepage.action?charityId=1005062" target="_blank" style="color:#666666">
                <h3>Give a single or monthly donation</h3>
                <img src="~/images/DonateSingleOrMonthly.jpg" alt="Donation." style="width:430px; height:275px" title="" />
            </a>

        </td>
        <td>
            <a href="http://uk.virginmoneygiving.com/charity-web/charity/finalCharityHomepage.action?charityId=1005062" target="_blank" style="color:#666666">
                <h3>Fundraise for us</h3>
                <img src="~/images/Fundraise.jpg" alt="Donation." style="width:430px; height:275px" title="" />
            </a>
        </td>
    </tr>
</table>

<br />
<div style="text-align:center">
    <a href="https://www.giveasyoulive.com/donate?cid=29738&wl=1&br=5#1" target="_blank" style="color:#666666">
        <h3>Give a gift</h3>
    </a>
</div>

Give a gift that makes a difference and receive personalised certificates and photographs. 100% of the donation goes towards, and is enough, to cover the cost of the construction materials.

<table class="news">
    <tr>
        <td style="width:33%">
            <a href="https://www.giveasyoulive.com/donate?cid=29738&wl=1&br=5#1" target="_blank" style="color:#666666">
                <h4>Family Latrine £12</h4>
                <img src="~/images/DonateLatrine.jpg" alt="Donate a latrine." title="" />
            </a>
            <div>
                <br />
                Give a vulnerable family a latrine for £12 and receive a personalised certificate.
            </div>
        </td>
        <td style="width:33%">
            <a href="https://www.giveasyoulive.com/donate?cid=29738&wl=1&br=5#1" target="_blank" style="color:#666666">
                <h4>Water Pump £70</h4>
                <img src="~/images/DonateWaterPump.jpg" alt="Donate a water pump." title="" />
            </a>
            <div>
                <br />
                Buy a water pump for a village for £70 and receive a personalised certificate on donation and personalised photograph when installed.
            </div>
        </td>
        <td style="width:33%">
            <a href="https://www.giveasyoulive.com/donate?cid=29738&wl=1&br=5#1" target="_blank" style="color:#666666">
                <h4>Support Entire Village £500</h4>
                <img src="~/images/DonateVillage.jpg" alt="Support village." title="" />
            </a>
            <div>
                <br />
                Support an entire village with latrines and a well for £500 and receive a personalised certificate on donation and personalised photo book upon completion.
            </div>
        </td>
    </tr>
</table>