﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="homePageCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <ol class="carousel-indicators">
        <li data-target="#homePageCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homePageCarousel" data-slide-to="1"></li>
        <li data-target="#homePageCarousel" data-slide-to="2"></li>
        <li data-target="#homePageCarousel" data-slide-to="3"></li>
        <li data-target="#homePageCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/HomePageHygiene.jpg" alt="Supporting communites with hygiene awareness programs." class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/HomePageLatrines.jpg" alt="Assisting vulnerable families to build latrines." class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/HomePageHandwashing.jpg" alt="Ensuring good hand washing practices." class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/HomePageEmpowering.jpg" alt="Empowering people to meet their own needs." class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/HomePageWater.jpg" alt="Supporting communities with safe drinking water." class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#homePageCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#homePageCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="section">
    Water Works is a grassroots charity committed to supporting rural Malawian communities gain access to <h2 style="display:inline;color:#0073e6">safe drinking water</h2> and <h2 style="display:inline;color:#0073e6">hygienic sanitation facilities</h2>. Our approach is not to give hand outs, but to empower people to meet their own  water, sanitation and hygiene needs. We do this by running <h2 style="display:inline;color:#0073e6">hygiene awareness programmes</h2>, providing technical assistance for latrine construction and training communities to install, manage and maintain one of our simple, innovative and sustainable <a asp-area="" asp-controller="WaterPumps" asp-action="">water pumps</a>.
</div>
<div class="section">
    <b>Privacy Notice</b>
    <ul>
        <li>If you have expressed an interest in Water Works by contacting this site (whether for information or a 'buy a gift' donation) we may use your email address to send you information about our activities as a charity, including major fundraising exercises.</li>
        <li>We will not share your data with anyone else (unless legally obliged to do so, e.g. in a police investigation).</li>
        <li>If you do not wish to be contacted in this way you can tell us at any time by emailing <a href="mailto:contact@waterworkscharity.org">contact@waterworkscharity.org</a> and we will delete your data from our records.</li>
        <li>If we have had no further contact from you after a period of 3 years we will delete your data from our records.</li>
    </ul>
</div>