﻿@{
    ViewData["Title"] = "Projects";
}

<div>

</div>
<p>
    Since 2009, we have assisted 94 Malawian villages to construct and maintain water points, providing safe drinking water for 17,000 people; supported 3,600 families to build hygienic latrines; helped a primary school with 300 students to build two blocks of latrines; and run hygiene awareness sessions for 5,400 people. Our household surveys have found that the projects have helped to dramatically reduce the percentage of children under five suffering from diarrhoea in the previous 2 weeks from 14.5% to 4%.
</p>

<p>
    Water Works focuses its programme in the Traditional Authority of Malili, south west of Malawi’s capital city Lilongwe. The area receives little assistance from the government or other NGOs despite, prior to our intervention, over half of the villages not having access to safe drinking water and most households not having a latrine.
</p>

<p>
    Our approach is not to give hand outs, but to empower people to meet their water, sanitation and hygiene needs. We do this by:
</p>

<ul>
    <li>
        promoting improved hygiene awareness and practice
    </li>
    <li>
        assisting the communities to install, manage and maintain one of our simple, innovative and sustainable water pump technologies
    </li>
    <li>
        supporting vulnerable households to construct latrines and hand-washing systems

    </li>
</ul>

<p>
    The hygiene awareness programme, which is led by our Malawian partner organisations, helps the communities to identify how their water, sanitation and hygiene practices may be impacting on their health. The communities develop action plans to address the issues, which would include the construction of latrines, the protection of water sources and the improvement of hygiene. We then assist the communities to implement their action plan. The projects are community-led with the community making the decisions. A particular focus is placed on the opinions, experience and expertise of women as they are usually responsible for household water collection, sanitation and hygiene. A water committee is elected to lead the projects, ensure that all community members construct a latrine, that vulnerable households are assisted and that the good practices continue after the projects end. The water pump can be easily maintained with low cost and locally available materials either by the water committee themselves or by the Water Works repair service run by the Water Works Malawian water team.
</p>

<div class="pedestal">
    <video width="700" controls preload="auto">
        <source src="~/videos/ProjectsPageVideo.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
</div>

<a href="#morevideos">
    <h4 style="text-align:center">More Videos Below</h4>
</a>

<br />

<div class="flex-row">
    <div class="spaced"><img src="~/images/ProjectsPage1.jpg" title="" /></div>
    <div class="spaced"><img src="~/images/ProjectsPage2.jpg" title="" /></div>
</div>

<div class="flex-row">
    <div class="spaced"><img src="~/images/ProjectsPage3.jpg" title="" /></div>
    <div class="spaced"><img src="~/images/ProjectsPage4.jpg" title="" /></div>
</div>

<div class="flex-row">
    <div class="spaced"><img src="~/images/ProjectsPage5.jpg" title="" /></div>
    <div class="spaced"><img src="~/images/ProjectsPage6.jpg" title="" /></div>
</div>

<div class="flex-row">
    <div class="spaced"><img src="~/images/ProjectsPage7.jpg" title="" /></div>
    <div class="spaced"><img src="~/images/ProjectsPage8.jpg" title="" /></div>
</div>

<div class="flex-row">
    <div class="spaced"><img src="~/images/ProjectsPage9.jpg" title="" /></div>
    <div class="spaced"><img src="~/images/ProjectsPage10.jpg" title="" /></div>
</div>

<a name="morevideos">More videos</a>

<br />

<div class="flex-row">
    <div class="spaced">
        <video width="454" controls preload="auto">
            <source src="~/videos/newpumpinKuchata.mp4" />
            Your browser does not support the video tag.
        </video>
        New pump in Kuchata
    </div>

    <div class="spaced">
        <video width="454" controls preload="auto">
            <source src="~/videos/singinganddancing.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        Singing and dancing
    </div>
</div>