﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Water Works Charity</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container body-content">
        <div id="headerBar">
            <div>
                <img src="~/images/Title.png" alt="WaterWorks" />
            </div>
            <div id="external-link-menu">
                <div class="menu-item">
                    <a href="http://www.facebook.com/pages/Water-Works/136917106385998"><img src="~/images/FaceBookLogo.jpg" alt="Facebook Logo." class="fixBodgeDreamweaverImages" title=""></a>
                </div>
                <div class="menu-item">
                    <iframe id="twitter-widget-0" scrolling="no" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" style="position: static; visibility: visible; width: 191px; height: 28px;" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.68dbfddc56b3f0522044700c1abcd1dc.en.html#dnt=true&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=waterworks2009&amp;show_count=false&amp;show_screen_name=true&amp;size=l&amp;time=1550344163265" data-screen-name="waterworks2009" frameborder="0"></iframe>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>

            @{
                var controllerName = ViewContext.RouteData.Values["controller"].ToString();
                var actionName = ViewContext.RouteData.Values["action"].ToString();
            }

            <div id="menu">
                <div class="menu-item"><a class="menu-item-link @{ if (controllerName == "Donate" && actionName == "Index") { <text>current-item</text> } }" asp-area="" asp-controller="Donate" asp-action="">Donate</a></div>
                <div class="menu-item"><a class="menu-item-link @{ if (controllerName == "Home" && actionName == "Index") { <text>current-item</text> } }" asp-area="" asp-controller="Home" asp-action="">Home</a></div>
                <div class="menu-item"><a class="menu-item-link @{ if (controllerName == "WaterPumps" && actionName == "Index") { <text>current-item</text> } }" asp-area="" asp-controller="WaterPumps" asp-action="">Water Pumps</a></div>
                <div class="menu-item"><a class="menu-item-link @{ if (controllerName == "Projects" && actionName == "Index") { <text>current-item</text> } }" asp-area="" asp-controller="Projects" asp-action="">Projects</a></div>
                <div class="menu-item"><a class="menu-item-link @{ if (controllerName == "Reports" && actionName == "Index") { <text>current-item</text> } }" asp-area="" asp-controller="Reports" asp-action="">Reports</a></div>
                <div class="menu-item"><a class="menu-item-link @{ if (controllerName == "About" && actionName == "Index") { <text>current-item</text> } }" asp-area="" asp-controller="About" asp-action="">About Us</a></div>
                <div class="menu-item"><a class="menu-item-link @{ if (controllerName == "Contact" && actionName == "Index") { <text>current-item</text> } }" asp-area="" asp-controller="Contact" asp-action="">Contact</a></div>
            </div>
        </div>

        @RenderBody()

        <hr />
        
        <footer>
            <div style="clear:left;text-align:center; font-size:18px">
                Water Works is registered in Scotland - Scottish Charity Number: SC040514 and in England and Wales  - Charity Commission – 1158206
            </div>

            <div style="text-align:center;">
                <img src="/Images/UK-AID-for websites-small.png" alt="UK AID from the British people logo" style="width:100px" />
            </div>

            <div style="text-align:center;font-size:16px">
                Water Works is supported by UK Aid from the British people
            </div>

            <div style="text-align:center;font-size:16px">
                This website is part designed and maintained by <a href="http://www.codefish.software" target="_blank">code fish</a>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
