﻿@{
    ViewData["Title"] = "Contact";
}

<div style="text-align:center">
    <br /><br />
    <p>
        General Enquires: <a href="mailto:contact@waterworkscharity.org">contact@waterworkscharity.org</a>

        <br />     <br />     <br />

        Business Development Manager: <a href="mailto:jeffrey.cohen@waterworkscharity.org">jeffrey.cohen@waterworkscharity.org</a>

        <br />     <br />     <br />

        Director: <a href="mailto:simon.cohen@waterworkscharity.org">simon.cohen@waterworkscharity.org</a>

        <br />     <br />     <br />

        Please visit us on our <a href="https://www.facebook.com/WaterWorksCharity/" target="_blank">facebook page</a>

        <br />     <br />     <br />
    </p>
</div>