﻿@{
    ViewData["Title"] = "About";
}

<p>Water Works is a charity committed to assisting communities gain access to safe drinking water and hygienic sanitation facilities. Our approach is not to give hand outs, but to empower people to meet their own needs.</p>

<h1 style="text-align:center">The Malawi Water Team</h1>

<div class="profile">
    <div class="profile-picture">
        <img src="~/images/Kingston-Tsamba.jpg" alt="Kingston Tsama" title="" />
    </div>
    <div class="profile-text">
        <p><span class="header">Kingston Tsamba (Senior Builder)</span></p>
        <p>Kingston is one of the newer members to Water Works. With his strong work ethic, his sharp organisational skills and a good command of English, he leads his construction crew with latrine construction.</p>
    </div>
</div>

<div class="profile">
    <div class="profile-picture">
        <img src="~/images/Maxwell.jpg" alt="Maxwell Khombe" title="" />
    </div>
    <div class="profile-text">
        <p><span class="header">Maxwell Khombe (Senior Water Point Technician)</span></p>
        <p>Maxwell is a very smart and engaging team member. He leads the installation of the pumps and trains the village water committee on how to install and maintain the pumps. Maxwell is trained on not only Water Works’ pumps, but also the Afridev and Malda pumps, and has led training sessions to pump technicians of other NGOs.</p>
    </div>
</div>

<div class="profile">
    <div class="profile-picture">
        <img src="~/images/Black.jpg" alt="Mr Black talking to villagers" title="" />
    </div>
    <div class="profile-text">
        <p><span class="header">Black Chakumodzi (Team Leader)</span></p>
        <p>Mr Black has spent much of his life mobilising communities to build their own toilets and advising on the importance of good hygiene practices.</p>
        <p>Mr Black is the Water Works team leader and ensures that the projects are community led. He excels when engaging and promoting partnerships with communities.</p>
    </div>
</div>

<h1 style="text-align:center">The Management Team</h1>

<div class="profile">
    <div class="profile-picture">
        <!--img src="~/images/HOME-PAGE-1.jpg" alt="Simon." width="299" height="206" style="float:left; margin-bottom: 5px; margin-top: 30px; margin-right: 20px;" title="" /-->
        <video width="300" controls=controls preload="auto">
            <source src="~/videos/HomePageVideo.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="profile-text">
        <p><span class="header">Simon Cohen (Director)</span></p>
        <p>Simon founded the charity in September 2008 in response to the lack of sustainable water points in sub-Saharan Africa. With Master’s degrees in Civil and Environmental Engineering and Development Studies, Simon is able to help guide the development of Water Work’s water pumps, programmes and strategy. He excels when engaging communities, building partnerships and providing training. When not working for Water Works, Simon consults for other water NGOs in various countries including Angola, the Sudan and Mozambique.</p>
    </div>
</div>

<div class="profile">
    <div class="profile-picture">
        <img src="~/images/PeterPhiri.jpg" alt="Peter" title="" />
    </div>
    <div class="profile-text">
        <p><span class="header">Peter Phiri (Programme Manager)</span></p>
        <p>Peter has spent much of his professional life working in a project management role and has worked on a range of development projects and programmes covering rural and urban WASH, infrastructure development covering transport and irrigation and labour-intensive community development programmes. He has more than 12 years’ work experience on European Development Fund (EDF) financed projects in Malawi among others. He is therefore conversant with international development procurement and contract management procedures and has demonstrable experience in mainstreaming, monitoring and evaluating cross-cutting issues such as gender, environment, HIV and AIDS is development projects.</p>
    </div>
</div>

<div class="profile">
    <div class="profile-picture">
        <img src="~/images/Jeff.jpg" alt="Jeff" title="" />
    </div>
    <div class="profile-text">
        <p><span class="header">Jeff Cohen (Business Development Manager)</span></p>
        <p>Jeff‘s involvement with Water Works began when he took responsibility for fund raising. He has substantial experience in raising money for various voluntary groups. His career has been in the field of mental health and human rights, but is now taking a more active role in the management of Water Works. He helped to manage the programme in Malawi in 2013-2014 and is now fully in charge of Water Works’ Business Development.</p>
    </div>
</div>

<div style="text-align:center;font-size:20px">
    Read about the <a asp-area="" asp-controller="About" asp-action="ManagementCommittee">Water Works Management Committee</a>
</div>