﻿@{
    ViewData["Title"] = "About";
}

<h1 style="text-align:center">Water Works Management Committee</h1>

<div class="profile">
    <div class="profile-picture">
        <img src="~/images/Suzanna.jpg" alt="Suzanna" title="" />
    </div>
    <div class="profile-text">
        <p><span class="header">Suzanna van Schaick (Chair)</span></p>
        <p>Suzanna has extensive clinical experience as a doctor, varied educational and teaching experience and insights from recent Voluntary Service Overseas. She has:</p>
        <ul>
            <li>over 30 years experience in general practice in the UK, 6 months in hospital Accident & Emergency in 2001-2</li>
            <li>20 years experience writing & producing medical educational materials, using multiple media for varied audiences</li>
            <li>2 years (08-10) working to help improve health knowledge and practice in rural Cambodia, including very varied teaching and training with an interpreter in a low resource environment</li>
        </ul>
    </div>
</div>

<div class="profile">
    <div class="profile-picture">
        <img src="~/images/MikeWilkins.jpg" alt="Mike Wilkins" title="" />
    </div>
    <div class="profile-text">
        <p><span class="header">Mike Wilkins (Treasurer)</span></p>
        <p>Mike has worked in the textile, food and drink industries and as a social worker and manager for 13 years. Later he worked as a director with the two UK charities and as a grant-maker with the National Lottery Charities Board, the Big Lottery Fund and Awards for All. His most recent post was with Capacity Builders, a Cabinet Office agency responsible for funding and developing infrastructure support for the voluntary and community sector. Mike is currently the lay vice chair of the NHS Nottingham North and East Clinical Commissioning Group with responsibility for patient and public engagement.</p>
    </div>
</div>

<div class="profile">
    <div class="profile-picture">
        <img src="~/images/MichaelLee.jpg" alt="Ayari" title="" />
    </div>
    <div class="profile-text">
        <p><span class="header">Michael Lee (Committee Member)</span></p>
        <p>After a long career in social care, Mike took early retirement at the end of 2010. His specialism was in research, evaluation and data processing, although his last job as one of the Heads of Service in the Children's Department of Nottinghamshire County Council also encompassed communications. He is particularly concerned that in the 21st Century there is still a need to develop the provision of a basic utility like clean water in certain parts of the world - hence his wholehearted support for the aims of Water Works.</p>
    </div>
</div>

<div class="profile">
    <div class="profile-picture">
        <img src="~/images/linda.jpg" alt="Linda doing survey" title="" />
    </div>
    <div class="profile-text">
        <p><span class="header">Linda Chisale (Committee Member)</span></p>
        <p>Linda is from Lilongwe and worked for Water Works as project assistant and community mobiliser. She is a great communicator and helped to provide the link between the project management and the villages. She is now living in San Francisco, studying Hotel, Restaurant and Institutional Management.</p>
    </div>
</div>

<div class="profile">
    <div class="profile-picture">
        <img src="~/images/IanSmout.jpg" alt="Ian Smout" title="" />
    </div>
    <div class="profile-text">
        <p><span class="header">Ian Smout (Committee Member)</span></p>
        <p>Ian is a chartered civil engineer and was pleased to join the Water Works Management Committee in 2018, when he retired after more than 40 years working on water engineering and management in developing countries. He started his career working for an international consultancy company and then joined Loughborough University in 1987. In addition, he has been a trustee of a disaster relief charity since 2008.</p>
    </div>
</div>

<div class="profile">
    <div class="profile-picture">
        <img src="~/images/Tim.jpg" alt="Tim" title="" />
    </div>
    <div class="profile-text">
        <p><span class="header">Tim Bell (Former Chair)</span></p>
        <p>It is with immense sadness that we have to announce that Tim Bell died in September 2018. Tim stepped down from his position as Chair at the AGM in June, owing to uncertainty because of his illness. He remained committed to Water Works and even nominated us as one of two charities he wanted friends and family to support in his memory.</p>
    </div>
</div>

<p>The Management Committee would also like to pay tribute to Ben Cohen, who designed and maintained this website. Tragically he died in November. We would like to thank his close friend, Martin Tasker for updating the site. </p>

<div style="text-align:center;font-size:20px">
    <br />
    Read about the <a asp-area="" asp-controller="About" asp-action="">Water Works Malawian and Management Team</a>
</div>