﻿@{
    ViewData["Title"] = "News";
}

<h1 style="text-align:center">Reports</h1>

<br />

<table class="news">
    <tr>
        <td style="width:33%">
            <a href="~/documents/AnnualReportAndFinancialStatement2017-18.pdf"><img src="~/images/AnnualReportAndFinancialStatements2017-18.jpg" alt="Annual Report And Financial Statement 2017-18" class="news" /></a>
            <div>
                <strong>Annual Report 2017-18</strong>
            </div>
        </td>
        <td style="width:33%">
            <a href="~/documents/AnIndependentEvaluationOfWaterWorks2017.pdf"><img src="~/images/AnIndependentEvaluationOfWaterWorks2017.jpg" alt="An Independent Evaluation of Water Works 2017" class="news" /></a>
            <div>
                <strong>Independent Evaluation 2017</strong>
            </div>
        </td>
    </tr>
</table>