﻿
a {
    color: #0073E6;
    font-weight: normal;
    text-decoration: underline;
}

h1, h2, h3, h4 {
    font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial;
    margin: 20px 0px;
    line-height: 120%;
    font-weight: lighter;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 140%;
}

h4 {
    font-size: 120%;
}

body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    border-color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    max-width: 1000px;
    text-align: justify;
    background-color: #FFFFFF;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#headerBar {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr minmax(80px, auto) 1fr;
    min-height: 150px;
    max-height: 180px;
    background: url(../Images/WaterRibbon.png) no-repeat;
    position: relative;
    margin-bottom: 20px;
}

#menu {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.menu-item {
    min-width: 100px;
    height: 30px;
    margin: 5px 10px 5px 10px;
    text-align: center;
}

a.menu-item-link {
    font-size: x-large;
    text-decoration: none;
}

a.menu-item-link.current-item {
    text-decoration: underline;
}

#external-link-menu {
    display: flex;
    height: 40px;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

div.section {
    clear: both;
    margin: 20px 0 20px 0
}

div.pedestal {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    clear: both;
    width: 100%;
    margin: 20px 0 20px 0;
    text-align: center;
    justify-content: space-around;
}

div.profile {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 50px 0 50px 0;
}

div.profile-picture {
    height: 100%;
    flex: 0 0 280px;
}

div.profile-text {
    margin-left: 20px;
}

div.spaced {
    margin: 10px;
}

img {
    border: none;
}

img.small-square {
    width: 135px;
    height: 135px;
}

img.medium-square {
    width: 250px;
    height: 250px;
}

img.large-square {
    width: 500px;
    height: 500px;
}

img.bordered {
    border: 3px solid #101010;
}

img.selectable {
    opacity: 0.75;
    filter: alpha(opacity=75); /*For IE8 and earlier*/ 
}

img.selectable.selected {
    border-color: #cc0000;
    opacity: 1;
}

img.selectable:hover {
    opacity: 1;
}

img.news {
    border: 1px solid #999999;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    align-content: center;
    margin: 20px 0 10px 0;
}

.flex-row {
    display: flex;
    height: auto;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: center;
}

table.news {
    text-align: center;
    width: 100%;
}

table td, table th {
    vertical-align: top;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}