﻿@{
    ViewData["Title"] = "The Alinafe Pump";
}

<h1>The Alinafe Pump</h1>

<p>
    The Alinafe pump is based on the conventional hand pumps, but is built with low cost materials that can be found at local markets. This means that it is one tenth of the price and is much easier to maintain.
</p>

<p>
    The pumps operates through the principle of suction. The action of moving the handle up causes the water to flow upwards through the rising main and out of the outlet spout. At the bottom of the rising pipe is a valve that allows water to flow upwards but prevents it from flowing back out again. With a short training course communities are easily capable of installing and maintaining the pump.
</p>

<div class="pedestal">
    <img src="~/images/NafeImagesLarge/1.jpg" id="selectedPhoto" class="large-square" />
</div>

<div id="divPhotoGrid" class="gallery">
    <div><img src="~/images/NafeImagesSmall/1.jpg" class="small-square bordered selectable selected" /></div>
    <div><img src="~/images/NafeImagesSmall/2.jpg" class="small-square bordered selectable" /></div>
    <div><img src="~/images/NafeImagesSmall/3.jpg" class="small-square bordered selectable" /></div>
    <div><img src="~/images/NafeImagesSmall/4.jpg" class="small-square bordered selectable" /></div>
    <div><img src="~/images/NafeImagesSmall/5.jpg" class="small-square bordered selectable" /></div>
    <div><img src="~/images/NafeImagesSmall/6.jpg" class="small-square bordered selectable" /></div>
    <div><img src="~/images/NafeImagesSmall/7.jpg" class="small-square bordered selectable" /></div>
    <div><img src="~/images/NafeImagesSmall/8.jpg" class="small-square bordered selectable" /></div>
    <div><img src="~/images/NafeImagesSmall/9.jpg" class="small-square bordered selectable" /></div>
</div>

@section Scripts {
    <script type="text/javascript">
        let selectableElements = document.querySelectorAll('img.selectable');

        selectableElements.forEach(
            item => item.addEventListener('click', (e) => project(selectableElements, e.target, document.querySelector('#selectedPhoto')))
        );
    </script>
}