﻿@{
    ViewData["Title"] = "Water Pumps";
}

<p>Over forty percent of the water pumps in Malawi are not working. The maintenance requires specialised knowledge, tools and spare parts, which are often not available within rural communities. We were founded in response to this lack of sustainability and have worked with the University of Edinburgh and local Malawian artisans to develop simple, innovative and sustainable hand pump technologies.</p>
<p>Water Works installed Alinafe Pumps in the past, but currently focuses on using the Rope Pump. Both can be built and maintained by rural communities, using locally available and low cost materials. For more information please click on the photographs.</p>

<div class="pedestal">
    <a asp-area="" asp-controller="WaterPumps" asp-action="Alinafe"><img class="medium-square selectable" src="~/images/WaterPumps/Nafe1.jpg" name="Nafe" id="Nafe" /></a>
    <a asp-area="" asp-controller="WaterPumps" asp-action="RopePump"><img class="medium-square selectable" src="~/images/WaterPumps/RopePump1.jpg" name="RopePump" id="RopePump" /></a>
</div>

<p style="clear:left">&nbsp;</p>