﻿@{
    ViewData["Title"] = "The Rope Pump";
}

<h1>The Rope Pump</h1>

<p>
    The Rope pump is an example of SMARTech (Simple, Market based, Affordable, Repairable Technology). This is the popular choice for Water Works projects, as it is one-fifth the price of traditional pumps, is simple to install, and the replacement parts are easily found in local markets. The villagers appreciate how easy it is to use and repair.
</p>
<p>
    This pump is made from a bicycle wheel, a plastic pipe and a rope. The principle behind the pump is water lifting. The action of turning the handle pulls a loop of rope around a wheel, through a guide at the bottom of the well and up a plastic pipe (rising pipe) that is submerged under water. The rope has equally spaced circular rubber discs along its length. These discs trap water in the rising pipe and lift it into an outlet spout.
</p>

<div class="pedestal">
    <img src="~/images/RopePumpImagesLarge/1.jpg" id="selectedPhoto" class="large-square" />
</div>

<div id="divPhotoGrid" class="gallery">
    <div><img src="~/images/RopePumpImagesSmall/1.jpg" class="small-square bordered selectable selected" /></div>
    <div><img src="~/images/RopePumpImagesSmall/2.jpg" class="small-square bordered selectable" /></div>
    <div><img src="~/images/RopePumpImagesSmall/3.jpg" class="small-square bordered selectable" /></div>
    <div><img src="~/images/RopePumpImagesSmall/4.jpg" class="small-square bordered selectable" /></div>
    <div><img src="~/images/RopePumpImagesSmall/5.jpg" class="small-square bordered selectable" /></div>
    <div><img src="~/images/RopePumpImagesSmall/6.jpg" class="small-square bordered selectable" /></div>
    <div><img src="~/images/RopePumpImagesSmall/7.jpg" class="small-square bordered selectable" /></div>
    <div><img src="~/images/RopePumpImagesSmall/8.jpg" class="small-square bordered selectable" /></div>
    <div><img src="~/images/RopePumpImagesSmall/9.jpg" class="small-square bordered selectable" /></div>
</div>

@section Scripts {
    <script type="text/javascript">
        let selectableElements = document.querySelectorAll('img.selectable');

        selectableElements.forEach(
            item => item.addEventListener('click', (e) => project(selectableElements, e.target, document.querySelector('#selectedPhoto')))
        );
    </script>
}